@mixin border-gradient($from, $to, $weight: 0) {
    $mix-main: mix($from, $to);
    $mix-sub-from: mix($mix-main, $from);
    $mix-sub-to: mix($mix-main, $to);

    box-shadow: 0 1px 0 $weight rgba($mix-sub-to, .25),
    0 -1px 0 $weight rgba($mix-sub-from, .25),
    1px 0 0 $weight rgba($mix-sub-to, .25),
    -1px 0 0 $weight  rgba($mix-sub-from, .25),
    1px -1px 0 $weight rgba($mix-main, .5),
    -1px 1px 0 $weight rgba($mix-main, .5),
    1px 1px 0 $weight rgba($to, .75),
    -1px -1px 0 $weight rgba($from, .75);
}


.add-trip .leaflet-container {
    height: 83vh;
    width: 100vw;
    z-index: 0;
}

 .leaflet-container {
    height: 100vh;
    width: 100vw;
    z-index: 0;
}

.leaflet-tile-pane {
    filter: grayscale(66%);
    //filter: invert(1);
}

.controls {
    z-index: 999;
    bottom: 10%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 10px;
    left: 50%;
    transform: translateX(-50%);
}

.controls-all {
    z-index: 999;
    bottom: 5%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 10px;
    left: 50%;
    transform: translateX(-50%);
}

.controls-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    border-radius: 16px;
    width: 56px;
    height: 56px;
}
.controls-button.light,
.controls-button-big.light {
    background-color: white;
}

.controls-button-big {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    border-radius: 16px;
    width: 64px;
    height: 64px;
}

.leaflet-control-zoom {
    visibility: hidden;
}

.leaflet-attribution-flag {
    visibility: hidden;
}

.map-label {
    position: absolute;
    height: 56px;
    width: 56px;
    border-radius: 50%;
    overflow: hidden;
    border: 2px solid rgba(255, 255, 255, 0.6);
    //filter: drop-shadow(0px 0px 12px rgba(0, 0, 0, 0.16));
}

.user-label {
    border-radius: 50%;
    background: #0077FF;
    position: absolute;
    height: 24px;
    width: 24px;
    border: 4px solid #FFFFFF;
    box-shadow: 0 1px 16px rgba(0, 0, 0, 0.45);
}

.map-label-video {
    height: 100%;
}

.add-center-dot {
    z-index: 999;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(calc(-50% + 12px), calc(-50% - 12px));
    width: 5px;
    height: 5px;
    border-radius:50%;
    color: #0077FF;
}

.vkuiModalCard__in.ModalCard__in {
    box-sizing: border-box;
}

.controls-dropdown {
    background: white;
    //bottom: 15vh !important;
    //left: 50% !important;
    //transform: translateX(-50%) !important;
    border-radius: 10px;
}
